.cart-page{
    font-family: 'arabic-ui';
    /* height: 100vh; */
}
.cart-page .btn-main{
    min-width: 100px!important;
}
.categories .category{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    /* padding: 10px; */
    cursor: pointer;
    margin-bottom: 10px;
    /* font-size: 16px; */

}
.categories .category span{display: block;}
.categories .category:hover,.categories .category.active{
    background-color: blue;
    color: #fff;
    transition: all 0.3s;
}
.products{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    display: none;
}
.products.active{
    display: flex;
}
.products .product{
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    color: blue;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    margin: 5px;
}
.products .product span{
    display: block;
}
.products .product:hover, .products .product.active{
    border: 1px solid blue;
    box-shadow: 0 0 2px #666;
}
.added-items{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
.added-items h4{
    margin-bottom: 10px !important;
}
.items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.item{
    background-color: #fff;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    position: relative;
    border: 2px solid blue;
    color: blue;
}
.item > span{
    display: block;
}
.item .delete{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    top: -10px;
    left: -10px;
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
}
.count-div{
    /* width: 100%; */
    display: flex;
    border-top: 1px solid #ccc;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
.count-div button{
    width: 15px;
    height: 15px;
    background-color: blue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    font-size: 0.5rem !important;
}
.count-div .count{
    /* width: 30px; */
    flex: 1;
    text-align: center;
    border: none !important;
    color: blue;
    outline: none;
}
/* Chrome, Safari, Edge, Opera */
.count-div .count::-webkit-outer-spin-button,
.count-div .count::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.count {
  -moz-appearance: textfield;
}

/*payment data form*/
.payment .form-group{
    margin: 5px 0;
}
.payment input[type='text']{
    border: none;
    outline: none;
    display: block;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    /* width: 252px; */
    max-width: 100% !important;
}
.payment input:disabled{
    background-color: #f1f1f1;
}
.payment input[type='checkbox']:disabled{
    background-color: #b3b3ab;
}
.payment label{
    font-size: 14px;
}


/*Responsive Style*/
@media(max-width:767px) {
    .categories .category{font-size: 11px;margin-bottom: 10px;}
    .products{grid-template-columns: repeat(4,1fr);}
    .product{font-size: 11px !important;}
    .added-items{padding: 0;}
    .items{gap: 10px; grid-template-columns: repeat(5,1fr)!important;}
    .items .item{font-size: 11px !important;}
    .items .item .delete{width: 15px;height: 15px;}
    .count-div .count{width: 50px;}
    .count-div button{width: 15px;height: 15px;}
    .payment input[type='text']{font-size: 12px;}
    .payment label{
        font-size: 14px;
    }

    .payment-data > div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    
}
 @media(max-width:991px){
    .items .item .delete{width: 20px;height: 20px;}
    .count-div .count{width: 50px;}
    .count-div button{width: 15px;height: 15px;}
    .products{grid-template-columns: repeat(6,1fr);}
    .payment .form-group{
        margin: 10px 0;
    }
}

@media(max-width:1200px){
    .added-items{padding: 0;}
    .items{gap: 10px; grid-template-columns: repeat(5,1fr);}
    .items .item{font-size: 16px !important;}
    .items .item .delete{width: 20px;height: 20px;}
    .count-div .count{width: 40px;}
}
@media(min-width:1201px){
    .count-div .count{width: 70px;}
}

